@import "normalize.less";
@import "base.less";

/**文本编辑框字符个数限制*/
.editorArea{width:560px;margin:60px auto;}
.editor{
	width: 550px;
	height: 120px;
	text-align: left;
	border-radius: 4px;
	border: 1px solid #d2d2d2;
	box-shadow: 1px 1px 3px rgba(34, 25, 25, 0.2);
	padding: 5px;
	overflow: hidden;
	line-height: 24px;
	word-break:break-all;
}
.hint{text-align: right;margin-top:18px;
	.hint-txt{margin-right:20px;
		em{color:@color-red;font-size:14px;font-weight: bold;margin-right:2px;}
	}
}






